:root{
    --cor01:#33658A; /* Lapis Lazuli*/
    --cor02:#86BBD8; /* Carolina Blue*/
    --cor03:#2F4858; /* Charcoal*/
}

html{
   color: white; 
   scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 1120px;
    background: linear-gradient(150deg, black, var(--cor01));
    background-size: 120% 120%;
}

.cabecalho{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.cabecalho .logo{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid white;
    text-decoration: underline;
    text-align: center;
    line-height: 55px;
    font-family: "Raleway", sans-serif;
    transition: 0.2s;
}

.cabecalho a:hover .logo{
    color: var(--cor01);
    border: 2px solid var(--cor01);
}

span#burguer{
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 52px;
}

span#burguer:hover{
    background-color: var(--cor01);
    color: black;
    transition: background-color 0.5s;
}

header > nav{
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    margin: auto;
}

.cabecalho .itens a{
    border-radius: 5px;
    color: white;
    margin: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 300px;

    flex: 1 0 auto;
    align-self: center;
}

.cabecalho .itens a:hover{
    background-color: var(--cor01);
    color: black;
    transition: background-color 0.5s;
}

.home{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.home .informacoes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 15px;
    max-width: 50%;
}

.home .informacoes h1{
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    margin-bottom: 20px;
}

.home .informacoes p{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.home .redes-sociais{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.home .redes-sociais a i {
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 26px;
    transition: 0.3s;
}

.home .redes-sociais a i:hover{
    color: var(--cor01);
    border: 1px solid var(--cor01);
    transform: scale(1.1);
}

.home .container-foto .foto{
    max-width: 450px;
    border-radius: 50%;
}

.home .container-foto img{
    width: 100%;
    border-radius: 50%;
}

.home .foto.sombra-interna{
    background: linear-gradient(to right, var(--cor01), var(--cor02), var(--cor03));
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
}

.tecnologias{
    display: flex;
    flex-flow: row  wrap;
    justify-content: center;
    align-items: center;
}

.tecnologias > img{
    padding: 10px;
    margin: 15px;
    width: 100px;

    flex: 0 1 150px;
}

#topBtn{
    display: none; /* Esconde o botão inicialmente */ 
    position: fixed; /* Fixa o botão na posição */ 
    bottom: 20px; /* Espaço do fundo da página */ 
    right: 30px; /* Espaço do lado direito da página */ 
    z-index: 99; /* Garante que o botão fica na frente de outros elementos */ 
    border: none; /* Remove bordas */ 
    outline: none; /* Remove contorno */ 
    background-color: var(--cor01); /* Cor de fundo */ 
    color: white; /* Cor do texto */ 
    cursor: pointer; /* Indica que é clicável */ 
    padding: 15px; /* Espaçamento interno */ 
    border-radius: 50%; /* Bordas arredondadas */ 
    font-size: 30px; /* Tamanho do texto */
}

#topBtn:hover { 
    background-color: var(--cor03); /* Cor de fundo ao passar o mouse */
}

.titulo{
    text-align: center;
    padding: 60px 0;
    font-size:  45px;
    font-weight: 500;
    text-transform: uppercase;
}

.projetos .container-projetos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.projetos .projeto{
    max-width: 260px;
    max-height: 500px;
    position: relative;
    display: none;
    margin-bottom: 50px;
}

.projetos .projeto.ativo{
    display: block;
}

.projetos .projeto img{
    height: 100%;
}

.projetos .projeto h3{
    background-color: #0402035b;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.projetos .projeto .informacoes-projeto{
    background-color: #040203;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    padding: 20px;
}

.projetos .container-projetos .projeto:hover .informacoes-projeto{
    opacity: 0.7;
    background-color: black;
}   

.btn-link{
    padding:2px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.ver-projeto{
    background-color: var(--cor01);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.5s;

    flex: 0 0 110px;
}

.ver-projeto:hover{
    background-color: var(--cor02);
    color: black;
}

.rep{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.5s;

    flex: 0 1 150px;
}

.rep:hover{
    background-color: white;
    color: black;
}

.projetos .btn-mostrar-projetos{
    background: none;
    border: 1px solid white;
    border-radius: 15px;
    color: #fff;
    width: 180px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rodape p{
    background: none;
    border-radius: 15px;
    color: white;
    width: 190px;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.rodape p:hover{
    background-color: var(--cor01);
    transition: 0.3s;
}

@keyframes gradient-animation{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}
